## Аналитика в Яндекс.Дзене

<a name="task"></a>
### Краткое ТЗ

После обсужения с менеджерами и администраторами баз данных, было написано краткое ТЗ:

- Бизнес-задача: анализ взаимодействия пользователей с карточками Яндекс.Дзен;

- Насколько часто предполагается пользоваться дашбордом: не реже, чем раз в неделю;

- Кто будет основным пользователем дашборда: менеджеры по анализу контента;

- Состав данных для дашборда:

    - История событий по темам карточек (два графика - абсолютные числа и процентное соотношение);
        
    - Разбивка событий по темам источников;
        
    - Таблица соответствия тем источников темам карточек;
        
- По каким параметрам данные должны группироваться:

  - Дата и время;
  
  - Тема карточки;
  
  - Тема источника;
  
  - Возрастная группа;
  
- Характер данных:

    - История событий по темам карточек — абсолютные величины с разбивкой по минутам;

    - Разбивка событий по темам источников — относительные величины (% событий);

    - Соответствия тем источников темам карточек - абсолютные величины;


- Важность: все графики имеют равную важность;

- Источники данных для дашборда: cырые данные о событиях взаимодействия пользователей с карточками (таблица log_raw);

- База данных, в которой будут храниться агрегированные данные: дополнительные агрегированные таблицы в БД zen;

- Частота обновления данных: один раз в сутки, в полночь по UTC;

- Какие графики должны отображаться и в каком порядке, какие элементы управления должны быть на дашборде (макет дашборда).

<a name="connection"></a>
### Подключение к БД

In [31]:
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                         db_config['pwd'],
                                                         db_config['host'],
                                                         db_config['port'],
                                                         db_config['db'])

engine = create_engine(connection_string)

<a name="sql"></a>
### SQL-запрос

In [71]:
query = '''
           SELECT *
           FROM dash_visits
        '''

dash_visits = pd.io.sql.read_sql(query, con = engine)

In [72]:
dash_visits.head(5)

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [73]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

<a name="data"></a>
### Выгрузка данных

In [75]:
dash_visits.to_csv('dash_visits.csv', index = False)

<a name="dashpoard"></a>
### Ссылка на дашборд
https://public.tableau.com/profile/galina3870#!/vizhome/ProjectAutomatisation/_?publish=yes

<a name="presentation"></a>
### Ссылка на презентацию

https://drive.google.com/file/d/1mB2T4ZljEHdFuYn8rcZL-k8iDbus7osu/view?usp=sharing

<a name="conclusion"></a>
### Общие выводы

<img src="image 2.png">

- Самые популярные темы карточек: Наука, Отношения, Интересные факты, Общество (к ним обращаются от 5 до 9% всех пользователей). Наименее популярные темы карточек: Шоу и Знаменитости (к ним обращаются от 2 до 3% всех пользователей).

- Самые популярные темы источников: Семейные отношения (11% всех обращений), Россия (10%), Полезные советы (9%), Путешествия (8%), Знаменитости (8%), Кино(6%) и Дети(5%).

- По теме Рассказы больше всего карточек с темой источника Путешествия. По теме Общество больше всего карточек с темой источника Россия. По теме Наука — Кино. Для некоторых тем карточек нет соответствующих тем источников, например, для темы карточки Шоу нет темы источника Сделай сам.